/* *****  html  ***** */
* {
	margin:							0;
	padding:						0;
}

/* *****  body  ***** */
body {
	width:							100%;
	color:							white;
	background-color:		black;
}

/* ***** header ***** */
header {
	top:								0;
	right:							0;
	width:							200px;
	min-height:					100%;
	position:						fixed;
	background-color:		steelblue;
}
header li {
	padding: 10px;
	list-style:none;
}

/* *****  main  ***** */
main {
	width: auto;
}

/* ***** footer ***** */
footer {
	width: auto;
}